p This is the editor view

div.row
    div.col-md-6.col-xs-6
        //div(include="'../widgets/canvas.html'")
        include ../widgets/canvas
    div.col-md-6.col-xs-6
        include ../widgets/transcription
    //   div(ng-include="'../widgets/transcription.html'")
